Source: nbsphinx
Maintainer: Debian Python Team <team+python@tracker.debian.org>
Uploaders: Jerome Benoit <calculus@rezozer.net>
Section: python
Priority: optional
Build-Depends: debhelper-compat (= 13)
Build-Depends-Indep: dh-sequence-python3,
                     pybuild-plugin-pyproject,
                     node-requirejs,
                     libjs-mathjax,
                     pandoc,
                     python3-all:any,
                     python3-doc <!nodoc>,
                     python3-docutils,
                     python3-ipykernel,
                     python-ipython-doc <!nodoc>,
                     python3-jupyter-client,
                     python3-nbconvert,
                     python3-nbformat,
                     python3-setuptools,
                     python3-sphinx,
                     python3-sphinx-gallery,
                     python3-sphinxcontrib.svg2pdfconverter,
                     python3-sphinxcontrib.bibtex (>= 2.1),
                     python3-matplotlib,
                     python3-numpy,
                     python3-pandas,
                     python-pandas-doc <!nodoc>,
                     rdfind,
                     symlinks,
# tex-gyre <!nodoc>,
# texlive-fonts-recommended <!nodoc>,
# texlive-fonts-extra <!nodoc>,
# texlive-latex-recommended <!nodoc>,
# texlive-latex-extra <!nodoc>,
# lmodern <!nodoc>,
# latexmk <!nodoc>,
# python3-ipywidgets <!nodoc>,
Standards-Version: 4.6.2
Vcs-Browser: https://salsa.debian.org/python-team/packages/nbsphinx
Vcs-Git: https://salsa.debian.org/python-team/packages/nbsphinx.git
Homepage: https://nbsphinx.rtfd.org/
Rules-Requires-Root: no

Package: python3-nbsphinx
Architecture: all
Depends: ${misc:Depends},
         ${python3:Depends}
Recommends: python3-sphinxcontrib.bibtex,
            python3-matplotlib,
            python3-numpy,
            python3-pandas
Suggests: python-nbsphinx-doc (= ${source:Version})
Description: Jupyter Notebook Tools for Sphinx -- Python 3
 nbsphinx is a Sphinx extension that provides a source parser for *.ipynb
 files. Custom Sphinx directives are used to show Jupyter Notebook code cells
 (and of course their results) in both HTML and LaTeX output.
 Un-evaluatednotebooks, i.e., notebooks without stored output cells, will be
 automatically executed during the Sphinx build process.
 .
 This package installs the library for Python 3.

Package: python-nbsphinx-doc
Architecture: all
Section: doc
Depends: node-requirejs,
         libjs-mathjax,
         ${misc:Depends},
         ${sphinxdoc:Depends}
Suggests: www-browser
Enhances: python3-nbsphinx (= ${source:Version})
Built-Using: ${sphinxdoc:Built-Using}
Multi-Arch: foreign
Description: Jupyter Notebook Tools for Sphinx -- doc
 nbsphinx is a Sphinx extension that provides a source parser for *.ipynb
 files. Custom Sphinx directives are used to show Jupyter Notebook code cells
 (and of course their results) in both HTML and LaTeX output.
 Un-evaluatednotebooks, i.e., notebooks without stored output cells, will be
 automatically executed during the Sphinx build process.
 .
 This is the common documentation package.
